nvim/
'Microsoft Teams - Preview'/
Microsoft/
autostart/
dconf/
obsidian/
pulse/
pulseaudio-ctl/
systemd/
teams/
volumeicon/
xfce4/
yay/
gtk-2/
gtk-3/
*.cfg
*.locale
*.dirs
*.list
ranger/
Signal/
octave/
spotify/
/qtile/__pycache__/
libreoffice/
qutebrowser/
epiphany/
evolution/
nautilus/
pulse/
session/
teams/
Thunar/
tilda/
yay/
appimagelauncher.cfg
baloofilerc
discoverrc
dleyna-renderer~.conf
drkonqirc
gtkrc
gtkrc-2.0
user-dirs.locale
Trolltech.conf
systemsettingsrc
sddmthemeinstallerrc
QtProject.conf
powermanagementprofilerc
plasmashellrc
plasmarc
plasmanotifyrc
plasma-localerc
pl~.desktop-appletsrc
pavucontrol.ini
monitors.xml
mimeapps.list
kxkbrc
kwinrulesrc
kwinrc
ktimezonedrc
ksplashrc
ksmserverrc
kscreenlockerrc
krunnerrc
konsolerc
kmixrc
khotkeysrc
kglobalshortcutsrc
kgammarc
kfontinstuirc
kdeglobals
kded_device_automountrc
kconf_updatedrc
kcminputrc
kateschemarc
kactivitymanagerdrc
kactivitymanagerc-statsrc
